<mat-hint matTooltip="Info about the action"
> Add New Word </mat-hint>
<button mat-fab style = '  background: #8883b4;' class="fab" [routerLink] = "['/addDictionary']">

  <mat-icon aria-label="Example icon-button with a heart icon">add </mat-icon>

</button>


<div *ngIf=show>
    <mat-spinner style="margin:0 auto; display: block " mode="indeterminate"></mat-spinner>
</div>
<div class="row" *ngIf="showImage ;  else empty">
    <h3>
        List of Words </h3>


    <mat-card class="table-card">

    
        <mat-table #table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Serial No. -->


            <ng-container matColumnDef="S.no.">
                <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index">{{i+1}} </mat-cell>
            </ng-container>

            <!-- Channel Name Column -->

            <ng-container matColumnDef="channelName">
                <mat-header-cell *matHeaderCellDef>  Word </mat-header-cell>
                <mat-cell *matCellDef="let element">
                   {{element.word}}
                </mat-cell>
            </ng-container>

            <!-- Channel Id Column -->

            <ng-container matColumnDef="channelId">
                <mat-header-cell *matHeaderCellDef> Word Meaning </mat-header-cell>
                <mat-cell *matCellDef="let element">
                 <p style = 'text-overflow: ellipsis'>   {{element.wordMeaning }} </p>

                </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon  (click)="update(element)" style = 'cursor : pointer ; color : #8883b4'>edit</mat-icon>
                    <mat-icon (click)="delete(element._id)" style = 'cursor : pointer; color : #8883b4 ' >delete</mat-icon>
                </mat-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">{{row}}</mat-row>

        </mat-table>
    </mat-card>

</div>

<ng-template #empty>
    <h3> Please Add  Word  </h3>
    <img src="../../assets/sad.png" width="200px" height="200px" style="margin : auto ; display : block " />

</ng-template>