<form #blogForm="ngForm"  name = 'BlogForm'>
<div class="example-form" class = 'center'>

  <div style =  'margin-bottom: 50px;' *ngIf = !edit>
    <h2>Add New Post</h2>
</div>
<div style =  'margin-bottom: 50px;' *ngIf = edit >
  <h2>Update Post</h2>
</div>
   

     <mat-form-field class="example-full-width">
       <input placeholder = 'title' type="text" matInput class="form-control" id="name" name = 'title' [(ngModel)]="model.article_title" #title="ngModel" autocomplete="off" required>
     </mat-form-field>
   
     <mat-form-field class="example-full-width">
       <textarea  rows="5" cols="50" type="text"  placeholder = 'Content' matInput class="form-control"  name = 'content'  [(ngModel)]="model.article_content" autocomplete="off" required></textarea>
     </mat-form-field>



     <img [src]="imgURL" height="100" *ngIf="imgURL">
     <div class = 'container well my-drop-zone'>
     <div ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (fileOver)="fileOverBase($event)"
     [uploader]="uploader"
     (change)="preview(file.files)"
     (onFileDrop)="onFileSelected($event)"
     style = 'height : 200px'>
      <p id = 'watermark'> Drop Image for Upload </p>
       <div class = 'upload '>
          <input #file type="file" ng2FileSelect [uploader]="uploader"   (change)="preview(file.files)"  (onFileSelected)="onFileSelected($event)" />
        </div>
   </div>

</div>



<div style = 'margin-top : 30px ; position : relative ; left : 110px ' class = 'center'>
   <div *ngIf='edit'>
  <button (click) = 'update()' class="btn btn-primary" >Update</button>
    </div>
    <div *ngIf='!edit'>
      <button (click) = 'addBlog()' class="btn btn-primary" >Submit</button>
        </div>  
</div>
</div>

</form>

