/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {

	outline: 0 none;
}

.btn-primary {
	background: #0099cc;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
	background: #007299;
	box-shadow: none;
}

.mat-snack-bar-container {
  max-width: 100% !important;
}

.center {
  margin-left : auto ; 
  margin-right : auto ; 
  display : block ; 
  width : 50% ; 
}

div{
font-family: 'Nanum Gothic', sans-serif;
}

h3 {
	font-family: 'Nanum Gothic', sans-serif;

}